<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonials</title>
    <link rel="stylesheet" href="assets/css/nav.css">
    <link rel="stylesheet" href="assets/css/testimonial.css">
    <script src="https://kit.fontawesome.com/ac0ee3f720.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav>
        <ul>
            <a href="/index" class="a"><img class="logo" src="assets/foto/dumbways.png" alt=""></a>
            <li><a href="/home">Home</a></li>
            <li><a href="/blog">My project</a></li>
            <li><a href="/testimonials" class="a">Testimonials</a></li>
        </ul>

        <div class="right">
            <button>
                <a href="/contact">Contact Me</a>
            </button>
            <span class="burger">
                <i class="fa-solid fa-bars"></i>

            </span>
        </div>

    </nav>

    <div class="burger-menu">

        <a href="/home" class="a">Home</a>
        <a href="/blog">My project</a>
        <a href="/contact">Contact Me</a>
        <a href="/testimonials">Testimonials</a>

    </div>

    <div class="container">
        <h1>My Testimonials</h1>
        <div class="container-dua">
            <h2>Rating by star</h2>

            <div class="rating">
                <button onclick="allTestimonial()" class="btn-rating">All</button>
                <button onclick="filterTestimonial(1)" class="btn-rating">1 <i class="fa-regular fa-star"></i>
                </button>
                <button onclick="filterTestimonial(2)" class="btn-rating">2 <i class="fa-regular fa-star"></i>
                </button>
                <button onclick="filterTestimonial(3)" class="btn-rating">3 <i class="fa-regular fa-star"></i>
                </button>
                <button onclick="filterTestimonial(4)" class="btn-rating">4 <i class="fa-regular fa-star"></i>
                </button>
                <button onclick="filterTestimonial(5)" class="btn-rating">5 <i class="fa-regular fa-star"></i>
                </button>
            </div>
        </div>
    </div>

    <section class="testimonials" id="testimonials">

    </section>



</body>
<script src="assets/js/script.js"></script>
<script src="assets/js/testimonial.js"></script>

</html>