nav {
    display: flex;
    background-color: rgb(212, 221, 221);
    justify-content: space-between;
    padding: 20px 100px;
    color: black;

}

nav ul {
    display: flex;
    list-style: none;
    width: 32%;
    justify-content: space-between;
    font-size: 20px;
}

nav ul .left {
    display: flex;
    justify-content: space-between;

}

nav ul .left li {
    padding-left: 20px;


}

nav ul li a {
    color: black;
    text-decoration: none;
}


.logo {
    width: 45px;
    padding-right: 10px;
}

nav img {
    font-size: 40px;
}

.right button {
    background-color: black;
    padding: 3px 25px;
    border-radius: 10px;
}

.right button a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.right .burger {
    display: none;
}

.burger-menu {
    display: none;
}

.a {
    font-weight: 600;
}

/* @media screen and (max-width : 700px) {} */

@media screen and (max-width : 768px) {
    nav ul {
        width: 50%;
    }



}

@media screen and (max-width : 576px) {
    nav ul li {
        display: none;

    }

    .container {
        width: 400px;
    }

    .right button {
        display: none;
    }

    .right .burger {
        display: block;
        font-size: 25px;
        margin-left: 200px;
        cursor: pointer;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        background-color: #9a9a9a;
        align-items: center;
        margin-bottom: -110px;
        transform: translateX(100%);
        transition: all 1s;

    }

    .burger-menu a {
        padding: 10px;
        text-decoration: none;
        color: white;
        font-size: 20px;
        width: 100%;
        text-align: center;
    }

    .burger-menu a:hover {
        background-color: white;
        color: black;
    }

    .burger-menu.slide {
        transform: translateX(0%);
        margin-bottom: -15px;
    }
}