* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-weight: 32px;
    background-color: rgb(159, 168, 168);
    height: 1000px;
    overflow-x: hidden;
}


.a {
    font-weight: 600;
}


.container {
    width: 800px;
    background-color: rgb(245, 238, 238);
    margin: 20px auto;
    padding: 30px;
}

.container h2 {
    margin-top: 5px;
    padding: 20px;
}

.container p {
    margin-top: -15px;
    padding: 20px;
    margin-bottom: 20px;
    line-height: 25px;
}

button {
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 5px 30px;
    border-radius: 20px;
}

button a {
    color: white;
    text-decoration: none;
}

.icon {
    margin-left: 10px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;

}

.icon a {
    color: black;
    padding: 0 5px;
}

.card {
    width: 70%;
    margin: auto;
    text-align: center;
}

.card img {
    width: 70%;
    margin: auto;
    box-shadow: 0 0 15px rgb(175, 175, 175);
}

.sub {
    margin-top: -18px;
}



/* @media screen and (min-width : 768px) {
    nav {
        max-width: 100%;
    }
} */